<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBptRTQK5H14S6F_LFTRjNR_7fiWuVHicE</string>
	<key>GCM_SENDER_ID</key>
	<string>555776163281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fiaprn1mobr</string>
	<key>PROJECT_ID</key>
	<string>fiap-1mobr</string>
	<key>STORAGE_BUCKET</key>
	<string>fiap-1mobr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555776163281:ios:35ff9d1428baaa9f4634f0</string>
</dict>
</plist>